body {
    margin-top: 60px !important;
}

/** Keeping tabs with same height -> */
.tab-content {
     display: flex;
}

.tab-content > .tab-pane {
    display: block;
    visibility: hidden;
    margin-right: -100%;
    width: 100%;
}

.tab-content > .active {
    visibility: visible;
}
/** <- Keeping tabs with same height */

.border-left {
    border-left: 1px solid;
    border-color: #dee2e6 #dee2e6 #fff;
}

.border-right {
    border-right: 1px solid;
    border-color: #dee2e6 #dee2e6 #fff;
}

.border-bottom {
    border-right: 1px solid;
    border-color: #dee2e6 #dee2e6 #fff;
}
